@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
.allerta {
    font-family: 'Allerta Stencil', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}
$roboto: 'Roboto', sans-serif;

a, a:hover {
    text-decoration: none;
    color: #000000;
}

@media all and(max-width: 720px) {
    #chatroom>ul {
        width: 90vw;
    }
}

* {
    font-family: $roboto !important;
}